body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #8080801c;
}
.addEmployee{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showDetails {
    border: 1.5px solid black;
    margin: 3px;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    padding: 9px;
}
.employeeDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.editDeleteButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px;
}
.detailList{
    margin: 5px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #969696;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
  }
  .submit {
    display: flex;
    justify-content: center;
}
.editDetails {
    /* border: 1px solid; */
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
}
nav.nav-app {
    display: flex;
    justify-content: space-around;
    background-color: rgb(216, 210, 210);
    height: 10vh;
    align-items: center;
}
.nav-app-div {
    display: flex;
    justify-content: space-between;
}
a.nav-app-item {
    text-decoration: none;
    color: black;
    padding: 21px;
    font-size: 20px;
}
a.nav-app-item:hover{
    font-weight: bold;
    /* font-size: 22px; */
}
.editButton{
    background-color: rgb(252, 252, 125);
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.deleteButton{
    background-color: rgb(243, 115, 115);
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.editButton:hover{
    background-color: yellow;
    font-weight: bold;
}
.deleteButton:hover{
    background-color: red;
    font-weight: bold;
}
.homePage {
    display: flex;
    /* justify-content: center; */
    height: 30vh;
    align-items: center;
    font-size: 40px;
}
.main {
    margin-left: 27px;
    margin-top: 29px;
    justify-content: center;
    align-items: center;
}
h4.successMessage {
    color: #168c16;
}